ErrorDocument 404 /404.html

Redirect 301 /products/matcha-green-tea-powder https://www.matchaletic.co.uk/products#!/Matcha-Green-Tea-Powder/p/69437082/category=0
Redirect 301 /products/matchalean-50g-pouch https://www.matchaletic.co.uk/products#!/Premium-Matcha-Greeen-Tea/p/69552083/category=0
Redirect 301 /knowledge-base https://www.matchaletic.co.uk/knowledge-base.html
Redirect 301 /knowledge-base/what-is-matcha https://www.matchaletic.co.uk/knowledge-base/matcha-info/what-is-matcha
Redirect 301 /knowledge-base/how-to-prepare-matcha/ https://www.matchaletic.co.uk/knowledge-base/how-to-guides/how-to-prepare-matcha
Redirect 301 /knowledge-base/amino-acids-in-matcha https://www.matchaletic.co.uk/knowledge-base/matcha-info/amino-acids-in-matcha
Redirect 301 /knowledge-base/antioxidants-in-matcha https://www.matchaletic.co.uk/knowledge-base/matcha-info/antioxidants-in-matcha
Redirect 301 /knowledge-base/matcha-the-fat-burning-powerhouse https://www.matchaletic.co.uk/knowledge-base/matcha-info/the-fat-burner
Redirect 301 /knowledge-base/matcha-and-bodybuilding https://www.matchaletic.co.uk/knowledge-base/matcha-info/matcha-and-bodybuilding
Redirect 301 /knowledge-base/matcha-and-protein-powder/ https://www.matchaletic.co.uk/knowledge-base/matcha-info/matcha-and-protein-powder
Redirect 301 /blog https://www.matchaletic.co.uk/knowledge-base/blog.html
Redirect 301 /beating-d-o-m-s https://www.matchaletic.co.uk/knowledge-base/blog/beating-doms
Redirect 301 /matcha-more-than-fitness https://www.matchaletic.co.uk/knowledge-base/blog/more-than-fitness
Redirect 301 /matcha-pancakes https://www.matchaletic.co.uk/knowledge-base/how-to-guides/matcha-pancakes
Redirect 301 /matcha-shake-and-smoothie https://www.matchaletic.co.uk/knowledge-base/how-to-guides/matcha-shake-and-smoothie
Redirect 301 /beta-carotene https://www.matchaletic.co.uk/knowledge-base/blog/beta-carotene
Redirect 301 /benefits-of-l-theanine https://www.matchaletic.co.uk/knowledge-base/blog/benefits-of-l-theanine
Redirect 301 /cart https://www.matchaletic.co.uk/products#!/~/cart
Redirect 301 /delivery-information https://www.matchaletic.co.uk/delivery
Redirect 301 /terms https://www.matchaletic.co.uk/terms-and-conditions
Redirect 301 /wholesale https:www.google.com

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME}\.html -f 
RewriteRule ^(.*)$ $1.html

# Use UTF-8 encoding for anything served text/plain or text/html
AddDefaultCharset utf-8

# Force UTF-8 for a number of file formats
AddCharset utf-8 .css .js .json .rss .xml

# Default Language
DefaultLanguage en-GB

# Protect the .htaccess file.
<Files .htaccess>
	Order Allow,Deny
	Deny from all
</Files>

# Protect site from unauthorised content sources.
<IfModule mod_headers.c>
	Header unset Accept-Ranges
	Header unset Server
	Header unset X-Pingback
	Header set X-Content-Type-Options: nosniff
	Header set X-Frame-Options: DENY
	Header set X-XSS-Protection: "1; mode=block"
</IfModule>

# gZip
<IfModule mod_deflate.c>
    # Force compression for mangled headers.
    # http://developer.yahoo.com/blogs/ydn/posts/2010/12/pushing-beyond-gzipping
    <IfModule mod_setenvif.c>
        <IfModule mod_headers.c>
            SetEnvIfNoCase ^(Accept-EncodXng|X-cept-Encoding|X{15}|~{15}|-{15})$ ^((gzip|deflate)\s*,?\s*)+|[X~-]{4,13}$ HAVE_Accept-Encoding
            RequestHeader append Accept-Encoding "gzip,deflate" env=HAVE_Accept-Encoding
        </IfModule>
    </IfModule>

    # Compress all output labeled with one of the following MIME-types
    <IfModule mod_filter.c>
        AddOutputFilterByType DEFLATE application/atom+xml \
                                      application/javascript \
                                      application/json \
                                      application/rss+xml \
                                      application/vnd.ms-fontobject \
                                      application/x-font-ttf \
                                      application/x-web-app-manifest+json \
                                      application/xhtml+xml \
                                      application/xml \
                                      font/opentype \
                                      image/svg+xml \
                                      image/x-icon \
                                      text/css \
                                      text/html \
                                      text/plain \
                                      text/x-component \
                                      text/xml
    </IfModule>
</IfModule>

# ETag
<IfModule mod_headers.c>
    Header unset ETag
</IfModule>
FileETag None